:root {
  /* -----------colors----------- */
  --color-primary-strong-cyan: hsl(172, 67%, 45%);
  --color-neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --color-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-neutral-grayish-cyan: hsl(184, 14%, 56%);
  --color-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-neutral-white: hsl(0, 0%, 100%);
  /* -----------fonts----------- */
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

body {
  background-color: var(--color-neutral-light-grayish-cyan);
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: top 140px right 50%;
  width: auto;
  height: 100vh;
  margin: 0;
}
/* ----------------------------- */

/* -----------content----------- */
.content {
  display: flex;
  flex-direction: row;
  width: 840px;
  height: 400px;
  margin: auto;
  margin-top: 270px;
  background-color: var(--color-neutral-white);
  border-radius: 20px;
  padding: 30px;
}

.content__form {
  width: 52%;
  height: 400px;
}

.form--label {
  font-size: 0.6em;
  color: var(--color-neutral-grayish-cyan);
  margin-bottom: 5px;
}

.form--inputField {
  margin: auto;
  padding: 5px 15px;
  font-family: "Space Mono", monospace;
  color: var(--color-neutral-very-dark-cyan);
  width: 85%;
  border: none;
  border-radius: 8px;
  text-align: right;
  font-size: 1em;
}

.form--inputField.Bill {
  background: url(images/icon-dollar.svg) no-repeat 5% 50%;
  background-color: var(--color-neutral-very-light-grayish-cyan);
  margin-bottom: 30px;
}

.form--inputField.People {
  background: url(images/icon-person.svg) no-repeat 5% 50%;
  background-color: var(--color-neutral-very-light-grayish-cyan);
}

.form--buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 22px;
  margin: auto;
  margin-bottom: 40px;
}

.form--buttonSmall {
  background-color: var(--color-neutral-very-dark-cyan);
  font-family: "Space Mono", monospace;
  color: var(--color-neutral-very-light-grayish-cyan);
  font-size: 1em;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
}

.form--inputFieldCustom {
  background-color: var(--color-neutral-very-light-grayish-cyan);
  font-family: "Space Mono", monospace;
  color: var(--color-neutral-very-dark-cyan);
  font-size: 1em;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.content__result {
  background-color: var(--color-neutral-very-dark-cyan);
  width: 48%;
  border-radius: 15px;
}

.result--container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  padding: 35px;
}
.result--label {
  font-size: 0.6em;
  color: var(--color-neutral-very-light-grayish-cyan);
}

span {
  color: var(--color-neutral-grayish-cyan);
}

.result--amount {
  font-size: 2em;
  color: var(--color-primary-strong-cyan);
  margin: 0;
}

.reset--button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  padding: 10px 10px;
  background-color: var(--color-primary-strong-cyan);
  opacity: 20%;
  font-family: "Space Mono", monospace;
  color: var(--color-neutral-very-dark-cyan);
  text-transform: uppercase;
  font-size: 0.8em;
  width: 85%;
  border: none;
  border-radius: 8px;
}
/*--------------------------------*/

/*-------------media--------------*/

@media screen and (max-width: 376px) {
  body {
    max-width: 375px;
    background-position: top 50px right 50%;
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    margin-top: 150px;
    border-radius: 20px 20px 0 0;
  }
  .content__form {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .form--buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    height: auto;
  }
  .content__result {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: auto;
  }

  .form--inputField {
    width: 90%;
  }

  .form--label {
    font-size: 0.5em;
    color: var(--color-neutral-grayish-cyan);
    margin-bottom: 5px;
  }

  .form--inputField {
    padding: 2px 15px;
  }

  .form--inputField.Bill {
    margin-bottom: 15px;
  }

  .result--container {
    padding: 20px;
    height: 140px;
  }

  .result--amount {
    font-size: 1.4em;
    color: var(--color-primary-strong-cyan);
    margin: 0;
  }

  .reset--button {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .result--label {
    font-size: 0.5em;
  }
}
