:root {
  /* -----------colors----------- */
  --color-primary-strong-cyan: hsl(172, 67%, 45%);
  --color-neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --color-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-neutral-grayish-cyan: hsl(184, 14%, 56%);
  --color-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-neutral-white: hsl(0, 0%, 100%);
  /* -----------fonts----------- */
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

body {
  background-color: var(--color-neutral-light-grayish-cyan);
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: top 50px right 50%;
  width: auto;
  height: 100vh;
  margin: 0;
}

/* -----------form----------- */

.tipCalculator {
  background-color: var(--color-neutral-white);
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  margin-top: 150px;
  padding: 30px;
}

.form__label {
  color: var(--color-neutral-dark-grayish-cyan);
  font-size: 0.65rem;
}

.form__input {
  background-color: var(--color-neutral-very-light-grayish-cyan);
  border: solid 2px var(--color-neutral-very-light-grayish-cyan);
  outline: none;
  padding: 5px;
  padding-right: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  color: var(--color-neutral-very-dark-cyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.form__input:hover {
  border: solid 2px var(--color-primary-strong-cyan);
  cursor: pointer;
}

.form__tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 0.8em;
}

.tips--button {
  background-color: var(--color-neutral-very-dark-cyan);
  color: var(--color-neutral-white);
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  cursor: pointer;
}

.tips--button:hover {
  color: var(--color-neutral-very-dark-cyan);
  background-color: var(--color-neutral-light-grayish-cyan);
}

.tips--button:focus {
  color: var(--color-neutral-very-dark-cyan);
  background-color: var(--color-primary-strong-cyan);
}

.form__people {
  display: flex;
  justify-content: space-between;
}

.billInput {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.peopleInput {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.tips--custom {
  box-sizing: border-box;
  width: 100%;
}

.error {
  color: rgb(187, 45, 45);
  display: none;
}

/* ----------result---------- */

.result {
  background-color: var(--color-neutral-very-dark-cyan);
  color: var(--color-neutral-white);
  padding: 30px 20px 20px;
  border-radius: 15px;
}

.result__tipAmount,
.result__totalAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.result__label {
  font-size: 0.6rem;
}

.label--label {
  margin: 0;
}

.label--person {
  color: var(--color-neutral-grayish-cyan);
  margin: 0;
}

.result__Amount {
  font-size: 1.5rem;
  color: var(--color-primary-strong-cyan);
}

.resetButton {
  background-color: var(--color-primary-strong-cyan);
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  width: 100%;
  opacity: 0.2;
  font-family: "Space Mono", monospace;
  font-size: 0.7rem;
  color: var(--color-neutral-very-dark-cyan);
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: top 100px right 50%;
  }

  .tipCalculator {
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    border-radius: 20px;
    padding: 40px;
    gap: 40px;
    width: 910px;
    height: 420px;
  }

  #form {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 55%;
  }

  .form__label {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .form__tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }

  .result {
    width: 45%;
    padding: 50px 40px;
  }

  .result__label {
    font-size: 0.7rem;
  }

  .result__Amount {
    font-size: 2rem;
  }

  .resetButton {
    margin-top: 120px;
  }
}
